@{
    ViewBag.Title = "My Game List";
}

<head>
    <script type="text/javascript">
        function lookUpGames() {
            var searchTerms = JSON.stringify({ search : $('#txtSearch').val() });
            $.ajax({
                url: '/Home/LookUpGames',
                data: searchTerms,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (response) {
                    var res = response;
                },
                failure: function () {

                },
                error: function () {

                }
            });
        };
        $(function () {
            function warning() {
                $('#modalTitle').removeClass('text-danger', 'text-success');
                $('#modalTitle').addClass('text-warning');
                $('#modalBodyText').removeClass('text-danger', 'text-success');
                $('#modalBodyText').addClass('text-warning');
                $('#modalSaved').modal('show');
            };
            function danger() {
                $('#modalTitle').removeClass('text-warning', 'text-success');
                $('#modalTitle').addClass('text-danger');
                $('#modalBodyText').removeClass('text-warning', 'text-success');
                $('#modalBodyText').addClass('text-danger');
                $('#modalSaved').modal('show');
            };
            function success() {
                $('#modalTitle').removeClass('text-warning', 'text-danger');
                $('#modalTitle').addClass('text-success');
                $('#modalBodyText').removeClass('text-warning', 'text-danger');
                $('#modalBodyText').addClass('text-success');
                $('#modalSaved').modal('show');
            };
            function gamesViewModel() {
                var self = this;
                self.gamesList = ko.observableArray();
                self.gameToAdd = ko.observable({
                    Title: '',
                    Genre: '',
                    Platform: '',
                    ReleaseDate: '',
                    Developer: '',
                    Publisher: '',
                    BoxArtURL: ''
                });
                self.addGame = function () {
                    if (self.gamesList().length >= 10) {
                        $('#modalTitle').text('TOO MANY GAMES');
                        $('#modalImage').attr('src', '/Images/Link.jpg');
                        $('#modalBodyText').text('You can only have a maximum of 5 games in your list.');
                        warning();
                    }
                    else {
                        if ($('#txtTitle').text() == "" ||
                            $('#txtGenre').text() == "" ||
                            $('#txtPlatform').text() == "" ||
                            $('#txtReleaseDate').text() == "" ||
                            $('#txtDeveloper').text() == "" ||
                            $('txtPublisher').text() == "") {
                            $('#modalTitle').text('ALL FIELDS REQUIRED!');
                            $('#modalImage').attr('src', '/Images/Sonic.jpg');
                            $('#modalBodyText').text('Come on, now. You can\t just leave fields blank.');
                            warning();
                        }
                        else {
                            var game = {
                                Title: self.gameToAdd().Title,
                                Genre: self.gameToAdd().Genre,
                                Platform: self.gameToAdd().Platform,
                                ReleaseDate: self.gameToAdd().ReleaseDate,
                                Developer: self.gameToAdd().Developer,
                                Publisher: self.gameToAdd().Publisher,
                                BoxArtURL: self.gameToAdd().BoxArtURL
                            };
                            self.gamesList.push(game);
                            $('#txtTitle').val('');
                            $('#txtGenre').val('');
                            $('#txtPlatform').val('');
                            $('#txtReleaseDate').val('');
                            $('#txtDeveloper').val('');
                            $('#txtPublisher').val('');
                            $('#txtBoxArtURL').val('');
                        }
                    }
                };
                self.removeGame = function (gameToRemove) {
                    self.gamesList.remove(gameToRemove);
                };
                self.saveGameList = function () {
                    var listOfGames = ko.toJSON(self.gamesList);
                    $.ajax({
                        url: '/Home/SaveGameList',
                        data: listOfGames,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        type: 'POST',
                        success: function (response) {
                            if (response.result == true) {
                                $('#modalTitle').text('GAME LIST SAVED!');
                                $('#modalImage').attr('src', '/Images/Mario.jpg');
                                $('#modalBodyText').text('Your game list has saved successfully.');
                                success();
                            }
                            else {
                                $('#modalTitle').text('GAME LIST NOT SAVED!');
                                $('#modalImage').attr('src', '/Images/Luigi.jpg');
                                $('#modalBodyText').text('DATABASE ERROR: GAME LIST SAVE FAILED!');
                                danger();
                            }
                        },
                        failure: function () {
                            $('#modalTitle').text('GAME LIST NOT SAVED!');
                            $('#modalImage').attr('src', '/Images/Luigi.jpg');
                            $('#modalBodyText').text('SERVER ERROR: GAME LIST DID NOT REACH THE SERVER.');
                            danger();
                        },
                        error: function () {
                            $('#modalTitle').text('GAME LIST NOT SAVED!');
                            $('#modalImage').attr('src', '/Images/Luigi.jpg');
                            $('#modalBodyText').text('ERROR: GAME LIST NOT SAVED!');
                            danger();
                        }
                    });
                };
            };
            ko.applyBindings(new gamesViewModel);
        });

    </script>
</head>
<body>
    <div class="jumbotron">
        <h1>TOP 10 GAMES</h1>
    </div>

    <div>
        <h4>Games</h4>
        <div class="card-columns" data-bind="foreach: gamesList">
            <div class="card">
                <a data-bind="attr: {href: BoxArtURL}" target="_blank">
                    <img class="card-img-top" data-bind="attr: {src: BoxArtURL}" />
                </a>
                <div class="card-body">
                    <h5 class="card-title" data-bind="text: Title"></h5>
                    <div class="card-text">
                        <div>
                            <span>Genre: </span>
                            <span data-bind="text: Genre" />
                        </div>
                        <div>
                            <span>Platform: </span>
                            <span data-bind="text: Platform" />
                        </div>
                        <div>
                            <span>Release Date: </span>
                            <span data-bind="text: ReleaseDate" />
                        </div>
                        <div>
                            <span>Developer: </span>
                            <span data-bind="text: Developer" />
                        </div>
                        <div>
                            <span>Publisher: </span>
                            <span data-bind="text: Publisher" />
                        </div>
                    </div>
                    <button class="btn btn-danger" data-bind="click: $parent.removeGame">-Remove</button>
                </div>
            </div>
        </div>
        <div>
            <br /><br />
            <label id="lblAddGame" class="alert-info form-control d-flex justify-content-center">Add a New Game</label>
            <br />
            <div class="row">
                <span class="col-2">Search: </span>
                <input id="txtSearch" type="text" class="col-3 form-control" />
                <button id="btnSearch" class="btn btn-primary col-1" onclick="lookUpGames()">Search</button>
            </div>
            <br />
            <div class="row">
                <span class="col-2">Title: </span>
                <input id="txtTitle" type="text" class="col-3 form-control" data-bind="value: gameToAdd().Title" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Genre: </span>
                <input id="txtGenre" type="text" class="col-3 form-control" data-bind="value: gameToAdd().Genre" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Platform: </span>
                <input id="txtPlatform" type="text" class="col-3 form-control" data-bind="value: gameToAdd().Platform" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Release Date: </span>
                <input id="txtReleaseDate" type="text" class="col-3 form-control" data-bind="value: gameToAdd().ReleaseDate" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Developer: </span>
                <input id="txtDeveloper" type="text" class="col-3 form-control" data-bind="value: gameToAdd().Developer" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Publisher: </span>
                <input id="txtPublisher" type="text" class="col-3 form-control" data-bind="value: gameToAdd().Publisher" />
            </div>
            <br />
            <div class="row">
                <span class="col-2">Box Art URL: </span>
                <input id="txtBoxArtURL" type="text" class="col-3 form-control" data-bind="value: gameToAdd().BoxArtURL" />
            </div>
            <br />
            <div class="row">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary ml-3" data-bind="click: addGame">+Add</button>
                    <button class="btn btn-success ml-5" data-bind="click: saveGameList">Save Game List</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalSaved" class="modal modal-lg-centered" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 id="modalTitle" class="modal-title centered"></h1>
                </div>
                <div class="modal-body">
                    <img id="modalImage" class="centered" height="400" />
                    <br />
                    <h2 id="modalBodyText" class="text-center"></h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary centered" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>